services:
  node1:
    build: .
    hostname: node1
    container_name: mpi_node1
    networks:
      mpi_network:
        ipv4_address: 172.20.0.10
    volumes:
      - ./hosts.txt:/app/hosts.txt
    command: /usr/sbin/sshd -D

  node2:
    build: .
    hostname: node2
    container_name: mpi_node2
    networks:
      mpi_network:
        ipv4_address: 172.20.0.11
    volumes:
      - ./hosts.txt:/app/hosts.txt
    command: /usr/sbin/sshd -D

  node3:
    build: .
    hostname: node3
    container_name: mpi_node3
    networks:
      mpi_network:
        ipv4_address: 172.20.0.12
    volumes:
      - ./hosts.txt:/app/hosts.txt
    command: /usr/sbin/sshd -D

networks:
  mpi_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24

